@{
    ViewData["Title"] = "Quizmethod";
}
<h1>@ViewData["Title"]</h1>
1. _____ reserves are sometimes called known unknowns.<br>
a.<b>contingency</b><br>
b.management<br>
c.curve<br>
d.learning<br><br>
2. Kaizen is the Japanese word for _____.<br>
a.worst<br>
b.<b>improve</b><br>
c.degrade<br>
d.impair<br>

